.PlantCard-div{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin: auto ;
   justify-content: space-evenly;
}
.brand-name{
  align-items: center;
  text-align: center;
border-radius: 10px;
  background-color: aqua;
  width: 350px;
  margin:10px auto;
   
}
